.feateure {
        padding-bottom: 0;
// width: 100%;
    &__list {
    @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
        }
    
    }
    &__item{
       
    
    @media screen and (min-width: 768px) {
            width: calc((100% - 2 * 30px) / 2);
            margin: 15px;
        }
    
        @media screen and (min-width: 1200px) {
            width: calc((100% - 4 * 30px) / 4);
            margin: 15px;
        }
    }
    &__tumb{
        padding-top: 25px;
        padding-bottom: 25px;
        border-radius: 4px;
         background-color: #f5f4fa;
        margin-bottom: 30px;
        
    }
    
    
    &__icon {
        display: block;
        margin-left: auto;
     margin-right: auto;
     width: 100%;  
     
    // display: block;
    // padding: 25px 190px;
    
    background:$background-white;
    border-radius: 4px;
    @media screen and (min-width: 768px) {
      
                // padding: 25px 142px;
            }
    // margin: 0 30px 30px 0;
    }
    
    &__icon:last-child {
    margin-right: 0;
    }
    
    &__title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }
    &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color:$title-text-color;
    }
}
