.feateure {
  padding-bottom: 0;
  // width: 100%;
  @media screen and (min-width: 280px) and (max-width: 1199px) {
    padding-bottom: 60px;
  }

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
  }
  &__item {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      :nth-last-child(-n + 2) {
        margin-bottom: 0;
      }
      width: calc((100% - 1 * 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 3 * 30px) / 4);
      margin-bottom: 0;
    }
  }
  &__tumb {
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 4px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }

  &__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    background: $background-white;
    border-radius: 4px;
    @media screen and (min-width: 768px) {
    }
  }

  &__icon:last-child {
    margin-right: 0;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: $title-text-color;
  }
}
.feateure__item:nth-last-child(-n + 1) {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .feateure__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}
