/* Footer */
.footer {
    padding: 60px 0;
    background-color:$background-color-footer;
    &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    &__logo {
    margin-bottom: 20px;
    }
}


.logo__studio--inverse {
    color: $text-color-white;
}

.footer-address{
    &__link {
        font-style: normal;
        font-size: 14px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color:$footer-color-text;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__item {
            margin-bottom: 9px;
    }
    &__link:hover,
    &__link:focus {
            color:$text-color-white;
    }
}


.footer-social {
    margin-left: 70px;

    &__list {
            display: flex;
    
            justify-content: center;
            fill: #2f303a;
    }
    &__icon {
            fill:$text-color-white;
    }
    &__item {
            width: 44px;
            height: 44px;
            margin-bottom: 30px;
    
            margin-right: 10px;
    }
    &__item:last-child {
            margin-right: 0;
    }
    &__link {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
            background: rgba(255, 255, 255, 0.1);
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__link:hover,
    &__link:focus {
            background-color:$accent-color;
    }
  }

.footer-title {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    font-style: normal;
    font-size: 14px;
    line-height: 1.17;
    color:$text-color-white;
    margin-bottom: 20px;
}
.footer-form {
    margin-left: 93px;
}

.form-mail {
    display: flex;
}

.form-mail {
.button {
        display: flex;
        fill: $text-color-white;
        margin-left: 12px;
    }
    &__input {
            padding-left: 16px;
            width: 358px;
            height: 50px;
            font-size: 16px;
            line-height: 1.25;
    
            letter-spacing: 0.03em;
    
            color:$background-white-two;
    
            outline: none;
            border: 1px solid rgba(255, 255, 255, 0.3);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            background-color:$background-color-footer;
    
    }
    &__input::placeholder {
            color:$footer-color-text;
    }
}