/* header-contacts */
.header-contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
  &__link {
    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
  &__item {
    margin-left: 50px;
  }
}
