.header-nav {
  position: relative;

  @media screen and (min-width: 768px) {
    width: 100%;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: flex-start;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    width: 100%;
  }
}
.nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: flex-start;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    width: 100%;
  }
}
