/* Портфоліо */

/* Фільтр */
.portfolio{
    &__nav {
       display: flex;
       justify-content: center;
       margin-bottom: 50px;
       gap: 8px;
    }
    &__button {
    background:$background-white;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    padding: 6px 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__button:hover,
    &__button:focus {
    background-color:$accent-color;
    color:$text-color-white;
 }
}
/* CARD SET */
.card{
    &__set {
        /* min-width: 370px; */
        display: flex;
        flex-wrap: wrap;
        /* margin-left: calc(-1 * var($card__set-gap));
  margin-top: calc(-1 * var($card__set-gap)); */
    }
    &__item {
    background: $background-white-two;
    border: 1px solid $border-color-card;
    flex-basis: calc(100% / 3 - $card__set-gap);
    margin-left:$card__set-gap;
    margin-top: $card__set-gap;
    }
    &__article {
     border-radius: 4px;
     overflow: hidden;
     height: 100%;
    }
    &__article:hover {
    box-shadow:$card-shadow;
    }
    &__content {
    padding: 20px 24px;
    }
    &__heading {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color:$primary-text-color;
    }
    &__text {
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color:$title-text-color;
    }
    &__thumb {
    position: relative;
    overflow: hidden;
    }
    &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color:$text-color-white;
    /* width: 100%;
  height: 100%; */

    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__item:hover &__info {
    transform: translateY(0);
    }
}
