.site-nav {
    margin-left: 93px;
    display: flex;
    &__link {
            display: block;
            padding: 32px 0;
    
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            position: relative;
    
            color:$primary-text-color;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    &__link:hover,
    &__link:focus {
    color:$accent-color;
    }
    &__link:current {
    color: $accent-color;
    }
    &__item {
    margin-left: 50px;
    }   
}


