.work {
    padding-bottom: 94px;
    &__list {
    display: flex;
    }
    &__item {
    position: relative;
    }
    &__item:not(:last-child) {
    margin-right: 30px;
    }
    &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 27px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
    color: $text-color-white;
    width: 370px;
    height: 70px;

    background: rgba(47, 48, 58, 0.8);
    }
}







