.button {
    padding: 10px 32px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    background:$accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: $text-color-white;
    border: none;

    border-radius: 4px;
}
.form {
    .button {
        display: block;
        margin: 0 auto;
    }
}