.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 100;

    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    display: block;
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    max-width: 528px;
    width: 100%;

    background-color: #ffffff;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &__close {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 8px;
        right: 8px;
        padding: 6px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__close:hover,
    &__close:focus {
        fill:$accent-color;
        border: 1px solid $accent-color;
    }
    &__title {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    }    
}


.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.3);
}




.line {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    cursor: pointer;
    &:last-child {
    margin-bottom: 20px;
    }
   &__label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
    }
    &__wrapper {
    position: relative;
    margin-bottom: 10px;
    }
    &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: $primary-text-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    }
    &__input:focus + &__icon {
    fill: $accent-color;
    }
    &__input:focus {
    border-color: $accent-color;
    }
}



.textarea-modal {
    height: 120px;
    resize: none;
    padding: 12px 16px;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: $title-text-color;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    margin-bottom: 20px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        border-color: $accent-color;
    }
}


.checkbox-agree {
    display: flex;
    align-items: center;
    .icon-wrapper {
            width: 16px;
            height: 15px;
            border: 2px solid #000000;
            border-radius: 2px;
            margin-right: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    .agree-icon {
            fill: transparent;
        }
}

.check-line input:checked+.checkbox-agree .icon-wrapper {
    background-color:$accent-color;
    border: none;
}

.check-line input:checked+.checkbox-agree .agree-icon {
    fill: #ffffff;
}
.contract {
    padding-left: 4px;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.03em;
    text-decoration-line: underline;
}
