$primary-text-color: #212121;
$title-text-color: #757575;
$accent-color: #2196f3;
$black: #000000;
$background-white: #f5f4fa;
$text-color-white: #ffffff;
$background-white-two: #ffffff;
$background-hero: #c4c4c4;
$footer-color-text: rgba(255, 255, 255, 0.6);
$border-color-card: #eeeeee;
$card__set-gap: 30px;
$color-icon: #afb1b8;
$card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
$background-color-footer: #2f303a;
